<div class="col-md-4">
  <div class="thumbnail">
    <h3>Nhóm Lớp<br>Ứng Dụng Phân Tán</h3>
    <a href="aboutda" target="_blank">
      <img class="img-thumbnail" src="/images/distributedNetwork.jpg" alt="Nhóm Lớp - Ứng Dụng Phân Tán" style="width:100%">
    </a>
    <div>
      <div class="count">
          <em><i class="glyphicon glyphicon-eye-open">""</i></em>
      </div>
      <a href="https://www.facebook.com/VoHieuTrung.Hau" style="width: 32px; height: 32px">
        <img src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/256/facebook-icon.png" alt="1412592 - Võ Hiếu Trung" style="float:left;"> </img>
      </a>

    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="thumbnail">
    <h3>1412592<br>Võ Hiếu Trung</h3>
    <a href="https://www.facebook.com/VoHieuTrung.Hau" target="_blank">
      <img class="img-thumbnail" src="/images/1412592.jpg" alt="1412592 - Võ Hiếu Trung" style="width:100%">
    </a>
    <div>
      <div class="count">
        <em><i class="glyphicon glyphicon-eye-open">""</i></em>
      </div>
      <a href="https://www.facebook.com/VoHieuTrung.Hau" style="width: 32px; height: 32px">
        <img src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/256/facebook-icon.png" alt="1412592 - Võ Hiếu Trung" style="float:left;"> </img>
      </a>

    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="thumbnail">
    <h3>1412689<br>Hoàng Thị Bích Vân</h3>
    <a href="https://www.facebook.com/bichvan.hoang.95?fref=ts" target="_blank">
      <img class="img-thumbnail" src="/images/1412689.jpg" alt="1412689 - Hoàng Thị Bích Vân" style="width:100%">
    </a>
    <div>
      <div class="count">
        <em><i class="glyphicon glyphicon-eye-open">""</i></em>
      </div>
      <a href="https://www.facebook.com/bichvan.hoang.95?fref=ts" style="width: 32px; height: 32px">
      <img src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/256/facebook-icon.png" alt="1412689 - Hoàng Thị Bích Vân" style="float:left;"> </img>
      </a>

    </div>
  </div>
</div>