<h1>{{message}}</h1>
<div class="col-md-4">
  <div class="thumbnail">
    <h3 class="intro-text">Nhóm Lớp-Ứng Dụng Phân Tán</h3>
    <a href="aboutda" target="_blank">
      <img class="img-thumbnail" src="/images/distributedNetwork.jpg" alt="Nhóm Lớp - Ứng Dụng Phân Tán" style="width:100%">
    </a>
    <div class="fb">

      <a href="https://www.facebook.com/VoHieuTrung.Hau" >
        <img class="iconfb" src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/256/facebook-icon.png" alt="1412592 - Võ Hiếu Trung" style="float:left;"> </img>
      </a>

    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="thumbnail">
    <h3 class="intro-text">1412592-Võ Hiếu Trung</h3>
    <a href="https://www.facebook.com/VoHieuTrung.Hau" target="_blank">
      <img class="img-thumbnail" src="/images/1412592.jpg" alt="1412592 - Võ Hiếu Trung" style="width:100%">
    </a>
    <div class="fb">

      <a href="https://www.facebook.com/VoHieuTrung.Hau">
        <img class="iconfb" src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/256/facebook-icon.png" alt="1412592 - Võ Hiếu Trung" style="float:left;"> </img>
      </a>

    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="thumbnail">
    <h3 class="intro-text">1412689-Hoàng Thị Bích Vân</h3>
    <a href="https://www.facebook.com/bichvan.hoang.95" target="_blank">
      <img class="img-thumbnail" src="/images/1412689.jpg" alt="1412689 - Hoàng Thị Bích Vân">
    </a>
    <p class="text-intro">Sở thích: âm nhạc, game, du lịch, phượt </p>
    <p class="text-intro">Ham học hỏi cái mới</p>
    <div class="fb">

      <a class="iconother" href="https://www.facebook.com/bichvan.hoang.95">
        <img class="iconfb" src="http://icons.iconarchive.com/icons/sicons/flat-shadow-social/256/facebook-icon.png" alt="1412689 - Hoàng Thị Bích Vân" > </img>
      </a>


    </div>
  </div>
</div>
