<!-- views/signup.ejs -->

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Đăng ký</h1>

	<!-- show any messages that come back with authentication -->
	{{#if [message.length > 0] }}
		<div class="alert alert-danger">{{> message }}</div>
	{{/if}}

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input id="username" type="text" class="form-control" name="username" placeholder="Username">
		</div>
		<span class="help-block"></span>

		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
			<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone">
		</div>
		<span class="help-block"></span>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input id="email" type="text" class="form-control" name="email" placeholder="Email">
		</div>
		<span class="help-block"></span>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			<input id="password" type="password" class="form-control" name="password" placeholder="Password">
		</div><br/>

		<button type="submit" class="btn btn-warning btn-lg">Đăng Ký</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Đăng Nhập</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>
